body {
    background: rgb(0, 173, 155);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
    background-image: url("https://wallpapers.com/images/hd/3440x1440p-oled-background-y8mv6c3p38spq6ce.jpg")

}
#all-contents {
  max-width: 500px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(176, 5, 173);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
border: 23px solid #fd4fb8;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(247, 155, 216);
    flex: 1;
    margin: 0;
    text-decoration: underline;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px; 
    list-style-image: linear-gradient(to left bottom, red, blue);
    border-radius: 35px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(207, 10, 207);
    display: flex;
    border-radius:60px 60px 60px 60px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 180px;
    border-radius: 150%;
    border: 12px solid rgb(121, 1, 121);
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(22, 179, 35) ridge;
    padding: 8px;
    list-style-image: linear linear-gradient(to left bottom, red, blue);
}
h2, h3 {
    margin: 0px;
}

         /* portfolio styles */
         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #eee;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }
                    /* responsive web design */
                    @media screen and (min-width: 120px) and (max-width: 1080px) {
                        main {
                          height: 100ch;
                          zoom: 1.5;
                          display: grid;
                        }
          
                        h1 {
                          font-size: 44px;
                        }
          
                        h2 {
                          font-size: 42px;
                        }
          
                        h3 {
                          font-size: 36px;
                        }
          
                        #all-contents {
                          height: 100ch;
                          margin: none;
                        }
          
                        a {
                          font-size: 42px;
                        }
          
                        .sidebar {
                          margin-right: 0px;
                          justify-content: center;
                          align-items: center;
                        }
          
                        .sidebar-img {
                          width: 100%;
                        }
          
                        p,
                        li {
                          font-size: 24px;
                        }
          
                        .content {
                          align-content: center;
                          justify-content: center;
                        }
                    }
