body {
    background: rgb(0, 173, 155);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(176, 5, 173);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 200px 200px 200px 200px;
-webkit-border-radius: 200px 200px 200px 200px;
-moz-border-radius: 200px 200px 200px 200px;
border: 23px solid #fd4fb8;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(247, 155, 216);
    flex: 1;
    margin: 0;
    text-decoration: underline;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px; 
    list-style-image: linear-gradient(to left bottom, red, blue)
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(10, 166, 26);
    display: flex;
    border-radius:60px 60px 60px 60px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 180px;
    border-radius: 150%;
    border: 12px solid rgb(192, 67, 192);
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(22, 179, 35) ridge;
    padding: 8px;
    list-style-image: linear linear-gradient(to left bottom, red, blue);
}
h2, h3 {
    margin: 0px;
}
